<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="pe.com.glup" >

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppCompatTheme" >
        <activity
            android:name=".glup.Inicio"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".glup.Home"
            android:label="@string/title_activity_home" />
        <activity
            android:name=".glup.Entrar"
            android:label="@string/title_activity_home" />
        <activity
            android:name=".glup.Registro"
            android:label="@string/title_activity_home" />
        <activity
            android:name=".glup.Principal"
            android:label="@string/title_activity_principal" >
        </activity>
    </application>

</manifest>
